/* Zanzibar flag tricolor stripe on top of navbar */
.navbar {
  border-top: 6px solid;
  border-image: linear-gradient(to right, #00AEEF 33.33%, #000000 33.33%, #000000 66.66%, #009A44 66.66%) 1;
}

h1, .h1 {
  font-family: 'Economica', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #00AEEF;
}

h2, .h2 {
  border-left: 5px solid #00AEEF;
  padding-left: 0.65rem;
}

h3, .h3 {
  border-left: 3px solid #009A44;
  padding-left: 0.5rem;
}
